<li class="nav-item">
    <a href="{{ path("giftcard.admin.index") }}"
       class="nav-link {{ is_subpath('giftcard.admin.index') ? 'active' }}">
        <i class="nav-icon fas fa-gift"></i>
        <p>
            {{ trans("giftcard.title") }}
        </p>
    </a>
</li>